<script setup>
import { partnerLink } from "@/utils/links";
import CircleCheck from "@/Components/Icon/CircleCheck.vue";

const props = defineProps({
    open: Boolean,
    casino: Object
})

defineEmits(['close'])
</script>

<template>
    <Modal :open="open" @close="$emit('close', e)" dialogClass="max-w-xl w-full top-casino-modal">
        <button class="absolute -right-1 top-2 text-2xl font-bold text-black shrink-0 px-6 z-10 outline-none" @click.prevent="$emit('close')">✕</button>
        <div class="landscape-mobile:hidden">
            <img class="w-full" src="/images/header-mobile.png" />
        </div>
        <div class="items-center gap-x-6 p-10 pt-20 landscape-mobile:pb-5 landscape-mobile:pt-10 relative">
            <div class="landscape-mobile:flex">
                <div 
                    class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 landscape-mobile:transform-none landscape-mobile:static"
                >
                    <Marker class="-left-8 translate-y-1/3 landscape-mobile:left-0 landscape-mobile:top-4" v-if="casino.marker">{{ casino.marker }}</Marker>
                    <picture>
                        <source media="(max-width: 1024px) and (orientation: landscape)" :srcset="casino.logo" />
                        <source media="(min-width: 0px)" :srcset="casino.logoSquare" />
                        <img :src="casino.logo" class="block border rounded-full h-full object-fill aspect-square landscape-mobile:aspect-auto landscape-mobile:rounded-md" />
                    </picture>
                </div>
                <div class="flex-1 text-center landscape-mobile:text-left landscape-mobile:ml-8">
                    <h3 class="inline-block text-black text-3xl font-bold mb-2.5">{{ casino.name }}</h3>
                    <Rating :value="casino.ratingValue" :votes="casino.ratingVotes" />
                </div>
            </div>
            <ul class="mt-5">
                <li 
                    class="flex items-start gap-2 mt-1 md:mt-3" 
                    v-for="item, key in casino.features"
                    :key="key"
                    :class="[key == 0 ? 'landscape-mobile:hidden' : '']"
                >
                    <CircleCheck class="shrink-0 text-primary lg:mt-1" />
                    <span class="text-xs md:sm lg:text-base">{{ item.feature }}</span>
                </li>
            </ul>
        </div>

        <div class="mb-8 text-center">
            <Button theme="primary" type="a" target="_blank" :href="partnerLink(casino.link)">Play now</Button>
        </div>
    </Modal>
</template>