<script setup>
import Section from '@/Components/Section.vue';
// import CasinoGrid from '../CasinoGrid.vue';

const props = defineProps({
    'casino': Array
})
</script>

<template>
    <Section class="best" title="Best Casinos by Review Score" subtitle="Our Team's best picks">
        <CasinoGrid :casinos="casino" />
    </Section>
</template>