<script setup>
import CasinoList from '../CasinoList.vue'
// import data from '../../data/casino.json'

const props = defineProps({
    casino: Array
})
</script>

<template>
    <section id="best">
        <Container>
            <CasinoList :casinos="casino" />
        </Container>
    </section>
</template>