.casino-list {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: -10px;
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align: center;
    position: relative;
    z-index: 5;

    &__header {
        & > * {
            padding: 2px 8px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
        }
    }

    &__item {
        border-collapse: separate;
        border-spacing: 0 1em;

        &-number {
            width: 40px;
            max-width: 40px;
            background-color: #EEF2F6;
            border: none;
        }

        &-logo {
            grid-area: logo;

            width: 250px;
            max-width: 250px;
            padding: 22px 38px;

            & > img {
                width: 100%;
                height: auto;
                display: block;;
            }
        }

        &-bonus {
            grid-area: bonus;

            &-value {
                font-size: 24px;
                font-weight: 700;
                display: block;
            }

            &-additional {
                font-size: 20px;
                font-weight: 400;
            }
        }

        &-methods {
            cursor: pointer;
            grid-area: methods;

            &-list {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 0px 10px;
                margin: 0px -10px;
            }

            &-item {
                width: 39px;
                height: 39px;
                border-radius: 100%;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
                background-color: #fff;
                box-sizing: border-box;
                padding: 4px;
                margin: 0px 5px;

                & > img {
                    width: 100%;
                    height: auto;
                }
            }

            &-count {
                display: block;
                font-size: 16px;
                margin-top: 8px;
            }
        }

        &-actions {
            grid-area: actions;
        }
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .casino-list {
        &__item {
            &-logo {
                width: 168px;
                max-width: 168px;
                padding: 14px 22px;
            }

            &-bonus {
                &-value {
                    font-size: 16px;
                }

                &-additional {
                    font-size: 13px;
                }
            }

            &-actions {
                & > .button {
                    margin: 0px 20px;
                    padding: 10px 15px;
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (min-width: 770px) {
    .casino-list {
        display: table;

        & > div {
            display: table-row;
            vertical-align: middle;
            padding: 0 10px;
        
            & > * {
                display: table-cell;
                vertical-align: middle;
            }
        }

        &__item {
            & > * {
                border-top: 1px solid #DBE4EE;
                border-bottom: 1px solid #DBE4EE;
            }
    
            & > *:first-child {
                border-radius: 15px 0px 0px 15px;
            }
    
            & > *:last-child {
                border-radius: 0px 15px 15px 0px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .casino-list {
        z-index: 10;
        // margin-top: -25px;
        position: relative;

        &__item {
            &-methods {
                &-list {
                    margin-left: 25px;
                }

                &-item {
                    width: 35px;
                    height: 35px;
                    margin-left: -25px;
                }

                &-count {
                    // display: none;
                    color: #7C7F92;
                    font-size: 11px;
                    margin-top: 10.5px;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .casino-list {
        display: block;
        // margin-bottom: -38px;

        &__header {
            width: 100%;
            display: flex;
            padding: 0px 15px;
            box-sizing: border-box;

            &-item {
                flex: 1;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px; /* 125% */
                box-sizing: border-box;
                padding: 15px;
            }

            // hide all except second and third columns
            & > *:nth-child(1),
            & > *:nth-child(4),
            & > *:nth-child(5),
            & > *:nth-child(6) {
                display: none;
            }
        }

        &__item {
            padding: 13px 15px;
            border-radius: 6px;
            background: #FFF;
            box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.10);

            display: grid;
            align-items: center;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 10px;
            grid-template-areas: 
                "logo logo bonus bonus"
                "rating methods actions actions";

            &-number {
                display: none;
            }

            &-logo {
                width: 100%;
                padding: 0;
            }

            &-bonus {
                &::before {
                    display: block;
                    content: "Welcome bonus package";
                    font-size: 14px;
                    margin-bottom: 5px;
                    white-space: nowrap;
                }

                padding-left: 8px;
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .casino-list {
        &__item {
            &-bonus {
                &::before {
                    font-size: 13px;
                }

                &-value {
                    font-size: 16px;
                }

                &-additional {
                    font-size: 13px;
                }
            }

            &-methods {
                &-item:nth-child(4) {
                    display: none;
                }

                &-count {
                    margin-top: 0px;

                    span {
                        display: none;
                    }
                }
            }
        }
    }
}