.casino-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    &__item {
        display: grid;
        padding: 48px 76px;
        background: #FFF;
        align-items: center;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.10);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo meta" "features features" "actions actions";
        gap: 30px;

        &-logo {
            grid-area: logo;

            & > img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        &-meta {
            
        }

        &-name h3 {
            color: #000;
            font-size: 22px;
            font-weight: 500;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 220px;
            margin: 0;
        }

        &-features {

            &-title {
                display: block;
                padding-bottom: 30px;
                color: $text-dark;
                font-size: 20px;
            }
        }

        &-actions {
            text-align: center;
        }
    }

    .rating {
        margin-top: 4px;

        &__value {
            font-size: 20px;
        }

        &__stars {
            margin-top: 0px;
            margin-bottom: 3px;
            font-size: 28px;
        }

        // &__votes {
        //     font-size: 12px;
        // }
    }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
    .casino-grid .rating {
        &__value {
            font-size: 16px;
        }

        &__stars {
            font-size: 20px;
            margin-top: 4px;
        }
    }
}

@media screen and (max-width: 992px) {
    .casino-grid {
        grid-template-columns: 1fr;
        gap: 20px;

        .rating {
            &__stars {
                font-size: 20px !important;
            }
        }
    }
}