@import 'variables';
@import 'casino-list';
@import 'casino-grid';

.topline {
    overflow: hidden;
    position: relative;

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &::before {
        z-index: 1;
        background: rgba(51, 35, 46, 0.90);
        backdrop-filter: blur(6.099999904632568px);
    }

    &::after {
        z-index: 2;
        background: linear-gradient(180deg, rgba(51, 35, 46, 0.00) 0%, rgba(0, 0, 0, 0.90) 73.96%);
        backdrop-filter: blur(6.099999904632568px);
    }
}

.container {
    width: 100%;
    display: block;
    padding: 0px 24px;
    margin: 0px auto;
    max-width: 1400px;
    box-sizing: border-box;
}

.button {
    white-space: nowrap;
    display: inline-block;
    padding: 12px 45px 11px;
    border-radius: 5px;
    background: $primary;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.10), 
                0px 20px 25px -5px rgba(0, 0, 0, 0.10);

    &:hover {
        background: $primary-hover;
        box-shadow: 0px 6px 10px -6px #2822A8, 
                    0px 12px 25px -5px #1499FF;
    }

    &--lg {
        font-size: 20px;
        padding: 16px 52px 15px;
    }
}

.rating {
    grid-area: rating;

    &__value {
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        display: block;
    }

    &__stars {
        margin: 3px 0px 3px;
        --percent: calc(var(--rating) / 10 * 100%);

        display: inline-block;
        font-size: $star-size;
        // font-family: Times; // make sure ★ appears correctly
        line-height: 1;
        
        &::before {
            content: '★★★★★';
            // letter-spacing: 1.5px;
            background: linear-gradient(90deg, $star-background var(--percent), $star-color var(--percent));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__votes {
        font-size: 12px;
        font-weight: 400;
        display: block;
    }
}

.features {
    &-list {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: -14px;
    }

    &-item {
        display: flex;
        align-items: flex-start;
        text-transform: capitalize;
        margin-top: 14px;
        font-size: 14px;
        
        &::before {
            width: 16px;
            height: 16px;
            content: "";
            background: url("/images/circle-check-primary.svg");
            display: inline-block;
            position: relative;
            margin-right: 6px;
        }
    }
}

.top-casino-modal {
    .rating {
        &__value {
            display: none;
        }

        &__stars {
            font-size: 32px;
            margin: 0px 0px 12px;
        }

        &__votes {
            color: $text;
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 992px) {

    .container {
        max-width: 960px;
    }

    .rating {
        &__value {
            font-size: 20px;
        }

        &__stars {
            display: block;
            font-size: 12px;
            margin: 4px 0px;
        }

        &__votes {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 768px) {
    .topline {
        background-color: #000418;
        &::before, &::after {
            display: none;
        }
    }

    .container {
        padding-left: 12px;
        padding-right: 12px;
        max-width: 960px;
    }

    .top-rated {
        .rating {
            margin-bottom: 32px;

            &__value {
                display: none;
            }

            &__stars {
                font-size: 32px;
                margin-bottom: 14px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (max-width: 480px) {
    .rating {
        &__value {
            font-size: 16px;
        }
    }
}