<script setup>
defineProps({
    theme: {
        type: String,
        default: 'primary'
    },
    size: {
        type: String,
        default: 'md'
    },
    type: {
        type: String,
        default: 'button'
    },
})
</script>

<template>
    <component :is="type" :class="['button', `button--${theme}`, `button--${size}`]">
        <slot />
    </component>
</template>