<script setup>
import { partnerLink } from "@/utils/links";
import CircleCheck from '@/Components/Icon/CircleCheck.vue';

defineProps({
    casinos: {
        type: Array,
        required: true
    }
})
</script>

<template>
    <div class="casino-grid">
        <div class="grid grid-cols-8 items-center bg-white shadow-block py-6 px-8 md:py-14 md:px-20" v-for="casino, key in casinos" :key="key">
            <div class="col-span-5 sm:col-span-4">
                <img class="block w-full" :src="casino.logoLarge" alt="">
            </div>
            <div class="pl-4 lg:pl-8  col-span-3 sm:col-span-4">
                <div>
                    <h3 class="block truncate font-semibold text-xl xl:text-3xl text-dark">{{ casino.name }}</h3>
                </div>
                <Rating class="casino-grid__item-rating" :value="casino.ratingValue" :votes="casino.ratingVotes" />
            </div>
            <div class="col-span-8">
                <span class="block my-6 mt-8 font-medium text-dark">BONUS & PERKS</span>
                <ul class="m-0">
                    <li class="flex gap-2 mt-1.5" v-for="item, key in casino.features" :key="key">
                        <CircleCheck class="shrink-0 text-primary mt-1" />
                        <span>{{ item.feature }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-span-8 mt-10 text-center">
                <Button theme="primary" type="a" target="_blank" :href="partnerLink(casino.link)">Play now</Button>
            </div>
        </div>
    </div>
</template>