<script setup>
import { partnerLink } from "@/utils/links";
import Rating from "./Rating.vue";

defineProps({
    number: {
        type: Number,
        required: true
    }, 
    logo: {
        type: String,
        required: true
    },
    name: {
        type: String,
        required: true
    },
    marker: {
        type: String,
        default: null
    },
    bonus: {
        type: String,
        required: true
    },
    additionalBonus: {
        type: String,
        required: true
    },
    methods: {
        type: Array,
        required: true
    },
    ratingValue: {
        type: Number,
        required: true
    },
    ratingVotes: {
        type: Number,
        required: true
    },
    link: {
        type: String,
        required: true
    },
})

defineEmits(['select'])
</script>
<template>
    <div class="casino-list__item">
        <div class="casino-list__item-number">
            <span>{{ number }}</span>
        </div>
        <div class="casino-list__item-logo">
            <div class="relative">
                <img :src="logo" :alt="name" class="block w-full rounded-md overflow-hidden" />
                <Marker v-if="marker">{{ marker }}</Marker>
            </div>
        </div>
        <div class="casino-list__item-bonus">
            <span class="casino-list__item-bonus-value">BONUS {{ bonus }}</span>
            <span class="casino-list__item-bonus-additional">{{ additionalBonus }}</span>
        </div>
        <div class="casino-list__item-methods" @click="$emit('select', e)">
            <div class="casino-list__item-methods-list">
                <div class="casino-list__item-methods-item" v-for="method in methods.slice(0, 4)" :key="method">
                    <img :src="method.icon" :alt="method.name" />
                </div>
            </div>
            <div class="casino-list__item-methods-count">+ {{ methods.length - 4 ?? 0 }} more <span>methods</span></div>
        </div>
        <Rating class="casino-list__item-rating" :value="ratingValue" :votes="ratingVotes" />
        <!-- <div class="casino-list__item-rating">
            <span class="casino-list__item-rating-value">{{ ratingValue.toFixed(1) }} / 10</span>
            <div class="casino-list__item-rating-stars" :style="{'--rating': ratingValue}"></div>
            <span class="casino-list__item-rating-votes">{{ ratingVotes }} votes</span>
        </div> -->
        <div class="casino-list__item-actions">
            <a :href="partnerLink(link)" target="_blank" class="button">Play now</a>
        </div>
    </div>
</template>