<script setup>
defineProps({
    
})
</script>

<template>
    <div class="absolute top-0 -left-2.5 -translate-y-1/2 bg-green-500 py-1 px-2 rounded-md leading-4 text-white text-xs font-medium">
        <slot />
    </div>
</template>