<script setup>
defineProps({
    value: {
        type: Number,
        required: true
    },
    votes: {
        type: Number,
        required: true
    }
})
</script>

<template>
    <div class="rating">
        <span class="rating__value">{{ value.toFixed(1) }} / 10</span>
        <div class="rating__stars" :style="{'--rating': value}"></div>
        <span class="rating__votes">{{ votes }} votes</span>
    </div>
</template>