<script setup>
defineProps({
    title: String,
    subtitle: String,
})
</script>

<template>
    <section class="pb-14 pt-12 md:pt-24 relative">
        <Container>
            <div class="mb-12 text-center md:text-left" v-if="title">
                <h2 class="text-2xl md:text-4xl text-dark font-bold">{{ title }}</h2>
                <p class="text-xl md:mt-2" v-if="subtitle">{{ subtitle }}</p>
            </div>
            <slot />
        </Container>
    </section>
</template>